var.json
config.json
config.yml

# default Executors
Executor/ACTIONBAR.js
Executor/BROADCAST.js
Executor/BROADCAST2.js
Executor/BURN.js
Executor/CLEARCHAT.js
Executor/CLEARENTITY.js
Executor/CLEARPOTION.js
Executor/CLOSEGUI.js
Executor/CMD.js
Executor/CMDCON.js
Executor/DOORCLOSE.js
Executor/DOOROPEN.js
Executor/DOORTOGGLE.js
Executor/DROPITEM.js
Executor/EXPLOSION.js
Executor/FALLINGBLOCK.js
Executor/GIVE.js
Executor/GUI.js
Executor/ITEMFRAMEROTATE.js
Executor/ITEMFRAMESET.js
Executor/KICK.js
Executor/KILL.js
Executor/LEVEROFF.js
Executor/LEVERON.js
Executor/LEVERTOGGLE.js
Executor/LIGHTNING.js
Executor/list.txt
Executor/LOG.js
Executor/LOG2.js
Executor/MESSAGE.js
Executor/MESSAGE2.js
Executor/MODIFYHELDITEM.js
Executor/MONEY.js
Executor/MYSQL.js
Executor/PERMISSION.js
Executor/POTION.js
Executor/PUSH.js
Executor/ROTATEBLOCK.js
Executor/SCOREBOARD.js
Executor/SERVER.js
Executor/SETBLOCK.js
Executor/SETCOUNT.js
Executor/SETFLYMODE.js
Executor/SETFLYSPEED.js
Executor/SETFOOD.js
Executor/SETGAMEMODE.js
Executor/SETHEALTH.js
Executor/SETHELDITEM.js
Executor/SETITEMLORE.js
Executor/SETITEMNAME.js
Executor/SETMAXHEALTH.js
Executor/SETOFFHAND.js
Executor/SETPLAYERINV.js
Executor/SETSATURATION.js
Executor/SETSLOT.js
Executor/SETTYPE.js
Executor/SETWALKSPEED.js
Executor/SETXP.js
Executor/SIGNEDIT.js
Executor/SOUND.js
Executor/SOUNDALL.js
Executor/SPAWN.js
Executor/TIME.js
Executor/TP.js
Executor/TPPOS.js
Executor/VELOCITY.js
Executor/WEATHER.js

# default Executors
Placeholder/air.js
Placeholder/biome.js
Placeholder/blockname.js
Placeholder/cmdline.js
Placeholder/count.js
Placeholder/currenttimeseconds.js
Placeholder/emptyslot.js
Placeholder/emptyslots.js
Placeholder/entityname.js
Placeholder/exp.js
Placeholder/explevel.js
Placeholder/firstgroup.js
Placeholder/food.js
Placeholder/gamemode.js
Placeholder/group.js
Placeholder/haseffect.js
Placeholder/haspermission.js
Placeholder/health.js
Placeholder/helditem.js
Placeholder/helditemdisplayname.js
Placeholder/helditemhasenchant.js
Placeholder/helditemid.js
Placeholder/helditemlore.js
Placeholder/helditemname.js
Placeholder/id.js
Placeholder/idname.js
Placeholder/ip.js
Placeholder/isburning.js
Placeholder/isflying.js
Placeholder/isnumber.js
Placeholder/isop.js
Placeholder/issneaking.js
Placeholder/issprinting.js
Placeholder/killername.js
Placeholder/list.txt
Placeholder/lore.js
Placeholder/maxhealth.js
Placeholder/money.js
Placeholder/mysql.js
Placeholder/name.js
Placeholder/offhanditem.js
Placeholder/onlineplayers.js
Placeholder/packlist.js
Placeholder/pitch.js
Placeholder/playerinv.js
Placeholder/playerloc.js
Placeholder/playerlocexact.js
Placeholder/playername.js
Placeholder/playeruuid.js
Placeholder/prefix.js
Placeholder/random.js
Placeholder/round.js
Placeholder/slot.js
Placeholder/suffix.js
Placeholder/time.js
Placeholder/tps.js
Placeholder/world.js
Placeholder/worldname.js
Placeholder/x.js
Placeholder/y.js
Placeholder/yaw.js
Placeholder/z.js